{% extends 'base.html.twig' %}

{% block body %}
    <script>
  window.user = {{ user|raw }};
</script>
    <div id="skeleton-app">
        <skeleton-app
            entrypoint="{{ path('api_entrypoint') }}"
        ></skeleton-app>
    </div>
{% endblock %}
